body {
  max-width: 800px;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

h1 {
    animation: blinkingLights 5s linear infinite;
    padding: 1rem;
}

main {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


nav {
  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 600px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  width: 200px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #000000;
  transition: background-color 0.5s ease, color 0.5s ease;
}

small {
  font-weight: 400;
  font-style: italic;
}

a:hover {
  background-color: #000;
  color: #fff;
}

@keyframes blinkingLights {
  0% {
    color: black
  }
  25% {
    color: green;
    transform: scale(1.1);
  }
  50% {
    color: red;
    transform: scale(1);
  }
  75% {
    color: blue;
    transform: scale(1.1);
  }
  100% {
    color: black;
    transform: scale(1)
  }
}