body {
  max-width: 1000px;
  min-height: 300px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.spinner {
  position: relative;
}
.stroke {
  width: 50px;
  height: 5px;
  background-color: transparent;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: spinner 1s steps(10) infinite ;
}

.stroke:nth-child(1) {
  animation-delay: 0;
  opacity: 0.2;
}
.stroke:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.4;
}
.stroke:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0.6
}
.stroke:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0.8;
}
.stroke:nth-child(5) {
  animation-delay: 0.4s;
  opacity: 1;
}
.stroke:nth-child(6) {
  animation-delay: 0.5s;
  opacity: 0.8;
}
.stroke:nth-child(7) {
  animation-delay: 0.6s;
  opacity: 0.6;
}
.stroke:nth-child(8) {
  animation-delay: 0.7s;
  opacity: 0.4;
}
.stroke:nth-child(9) {
  animation-delay: 0.8s;
  opacity: 0.2;
}
.stroke:nth-child(10) {
  animation-delay: 0.9s;
  opacity: 0.1;
}


@keyframes spinner {
  0% {
    transform: rotate(0deg) translate(50px);
    background-color: red;
  }
  100% {
    transform: rotate(360deg) translate(50px);
    background-color: red;
  }
}

a {
  text-decoration: none;
  color: black;
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2rem;
  transition: all 0.5s ease;
}

.icon:hover {
  background-color: #000;
  color: #fff;
}



